<font size = 40 color=darkgreen>Dutch Rental Prices</font><br>
*Both my friends and myself have often asked the question, 'How much rent could I charge for my apartment?' The question becomes very complex as we start assuming that location, size, amenities, furnished, and many more attributes need to be considered when deciding on a rental price. My goal for this project is to build a model that will weigh all the attributes available using data from a popular rental website in the Netherlands, Kamernet. <BR>  
*Creating a regression model to predict the rental prices in the Netherlands using data from kamernet.nl*<br>
**Steps:**<br>
1. Importing libraries and reading data
2. EDA and re-shaping data for ML pre-processing 
3. PyCaret setup
4. Adjust base data, repeat compare and create steps

# <font color=teal>Import data</font>

In [2]:
# Data manipulation
import pandas as pd
import numpy as np

# ML libraries
import pycaret.regression as py
from pycaret.regression import *

# Options for pandas
pd.options.display.max_columns
pd.options.display.max_rows = 30

# Visualizations
from matplotlib import pyplot as plt
import seaborn as sns
import missingno as msno
import chart_studio.plotly as pl
import plotly.graph_objs as go
from plotly.offline import iplot, init_notebook_mode

In [3]:
# Reading json data from Kamernet

#Git
source = 'https://github.com/michael-william/Netherlands-Rental-Prices/raw/master/properties-trim.json'
df=pd.read_json(source, lines=True)

# <font color=teal>EDA and reshaping data</font>

> **<font color=brown>Overview</font>**
> 1. Dropping non-needed columns
> 2. Missing values
> 3. Cardinality of categorical values

In [27]:
# Creating copy of main df
data = df[['areaSqm', 'furnish', 'latitude', 'longitude', 'propertyType', 'roommates','rent']]

In [28]:
# converting 'roommates' feature to 'int' and creating a new binary feature called 'shared'
data['roommates'] = data.roommates.replace(to_replace='None', value=0)
data['roommates'] = data.roommates.replace(to_replace='More than 8', value=9)
data['roommates'] = data.roommates.replace(to_replace='Unknown', value=0)
data['roommates'] = data.roommates.replace(to_replace='nan', value=0)
data['roommates'] = data.roommates.fillna(0)
data['roommates'] = data.roommates.astype('int')
data['shared'] = [1 if x>0 else 0 for x in data.roommates]

In [29]:
data['furnish'] = ['Furnished' if x=='Furnished' else 'Unfurnished' for x in data.furnish]

In [30]:
data.to_csv("ml_data.csv")

In [31]:
py.setup(data, target='rent', silent=True)

Setup Succesfully Completed!

(       areaSqm   latitude  longitude  furnish_Furnished  \
 0         14.0  51.896601   4.514993                0.0
 1         30.0  52.370200   4.920721                1.0
 2         11.0  52.350880   4.854786                1.0
 3         16.0  53.013494   6.561012                0.0
 4         22.0  51.932871   4.479732                0.0
 ...        ...        ...        ...                ...
 12825     35.0  52.368030   5.205308                0.0
 12826     10.0  51.690365   5.311952                1.0
 12827     12.0  52.010965   4.336536                0.0
 12828     16.0  52.008520   4.390628                0.0
 12829     21.0  51.906095   4.445226                0.0

        propertyType_Anti-squat  propertyType_Apartment  propertyType_Room  \
 0                          0.0                     0.0                1.0
 1                          0.0                     0.0                0.0
 2                          0.0                     0.0                1.0
 3                          0.0                     0.0                1.0
 4                          0.0                     0.0                1.0
 ...                        ...                     ...                ...
 12825                      0.0                     0.0                1.0
 12826                      0.0                     0.0                1.0
 12827                      0.0                     0.0                0.0
 12828                      0.0                     0.0                1.0
 12829                      0.0                     0.0                1.0

        propertyType_Student residence  propertyType_Studio  roommates_1  \
 0                                 0.0                  0.0          0.0
 1                                 0.0                  1.0          0.0
 2                                 0.0                  0.0          1.0
 3                                 0.0                  0.0          0.0
 4                                 0.0                  0.0          1.0
 ...                               ...                  ...          ...
 12825                             0.0                  0.0          1.0
 12826                             0.0                  0.0          1.0
 12827                             1.0                  0.0          0.0
 12828                             0.0                  0.0          0.0
 12829                             0.0                  0.0          0.0

        roommates_2  roommates_3  roommates_4  roommates_5  roommates_6  \
 0              0.0          0.0          0.0          1.0          0.0
 1              0.0          0.0          0.0          0.0          0.0
 2              0.0          0.0          0.0          0.0          0.0
 3              0.0          0.0          1.0          0.0          0.0
 4              0.0          0.0          0.0          0.0          0.0
 ...            ...          ...          ...          ...          ...
 12825          0.0          0.0          0.0          0.0          0.0
 12826          0.0          0.0          0.0          0.0          0.0
 12827          0.0          0.0          1.0          0.0          0.0
 12828          1.0          0.0          0.0          0.0          0.0
 12829          1.0          0.0          0.0          0.0          0.0

        roommates_7  roommates_8  roommates_9  shared_1
 0              0.0          0.0          0.0       1.0
 1              0.0          0.0          0.0       0.0
 2              0.0          0.0          0.0       1.0
 3              0.0          0.0          0.0       1.0
 4              0.0          0.0          0.0       1.0
 ...            ...          ...          ...       ...
 12825          0.0          0.0          0.0       1.0
 12826          0.0          0.0          0.0       1.0
 12827          0.0          0.0          0.0       1.0
 12828          0.0          0.0          0.0       1.0
 12829          0.0          0.0          0.0       1.0

 [12830 rows x 19 columns],
 0         500
 1         950
 2        1000
 3         290
 4         475
          ...
 12825     750
 12826     600
 12827     395
 12828     425
 12829     695
 Name: rent, Length: 12830, dtype: int64,
        areaSqm   latitude  longitude  furnish_Furnished  \
 10078     32.0  51.917253   4.419375                1.0
 207       75.0  52.361131   4.625652                1.0
 8435      60.0  51.886209   4.477114                0.0
 9087      18.0  52.261948   6.144391                1.0
 9552      14.0  52.309441   4.666529                1.0
 ...        ...        ...        ...                ...
 9175     110.0  51.919858   4.487038                1.0
 1251      18.0  52.441477   4.810903                1.0
 6357      14.0  53.226454   6.561126                1.0
 12188     18.0  53.210099   6.578942                1.0
 4274      20.0  52.373040   4.925139                1.0

        propertyType_Anti-squat  propertyType_Apartment  propertyType_Room  \
 10078                      0.0                     0.0                1.0
 207                        0.0                     1.0                0.0
 8435                       0.0                     1.0                0.0
 9087                       0.0                     0.0                1.0
 9552                       0.0                     0.0                1.0
 ...                        ...                     ...                ...
 9175                       0.0                     1.0                0.0
 1251                       0.0                     0.0                1.0
 6357                       0.0                     0.0                1.0
 12188                      0.0                     0.0                1.0
 4274                       0.0                     0.0                1.0

        propertyType_Student residence  propertyType_Studio  roommates_1  \
 10078                             0.0                  0.0          1.0
 207                               0.0                  0.0          0.0
 8435                              0.0                  0.0          0.0
 9087                              0.0                  0.0          0.0
 9552                              0.0                  0.0          1.0
 ...                               ...                  ...          ...
 9175                              0.0                  0.0          1.0
 1251                              0.0                  0.0          0.0
 6357                              0.0                  0.0          0.0
 12188                             0.0                  0.0          1.0
 4274                              0.0                  0.0          1.0

        roommates_2  roommates_3  roommates_4  roommates_5  roommates_6  \
 10078          0.0          0.0          0.0          0.0          0.0
 207            0.0          0.0          0.0          0.0          0.0
 8435           0.0          0.0          0.0          0.0          0.0
 9087           1.0          0.0          0.0          0.0          0.0
 9552           0.0          0.0          0.0          0.0          0.0
 ...            ...          ...          ...          ...          ...
 9175           0.0          0.0          0.0          0.0          0.0
 1251           1.0          0.0          0.0          0.0          0.0
 6357           0.0          0.0          0.0          0.0          1.0
 12188          0.0          0.0          0.0          0.0          0.0
 4274           0.0          0.0          0.0          0.0          0.0

        roommates_7  roommates_8  roommates_9  shared_1
 10078          0.0          0.0          0.0       1.0
 207            0.0          0.0          0.0       0.0
 8435           0.0          0.0          0.0       0.0
 9087           0.0          0.0          0.0       1.0
 9552           0.0          0.0          0.0       1.0
 ...            ...          ...          ...       ...
 9175           0.0          0.0          0.0       1.0
 1251           0.0          0.0          0.0       1.0
 6357           0.0          0.0          0.0       1.0
 12188          0.0          0.0          0.0       1.0
 4274           0.0          0.0          0.0       1.0

 [8980 rows x 19 columns],
        areaSqm   latitude  longitude  furnish_Furnished  \
 5047      78.0  52.287418   5.174808                1.0
 6079      13.0  52.222049   6.899375                0.0
 12787     17.0  52.092668   5.124310                1.0
 5852      20.0  51.847910   5.860734                1.0
 770       14.0  53.198511   5.802820                0.0
 ...        ...        ...        ...                ...
 451       19.0  52.191183   6.906710                0.0
 12281      8.0  53.229264   6.558886                0.0
 659       15.0  52.370748   4.857656                0.0
 4544      25.0  52.224259   4.678203                1.0
 3633      95.0  53.214388   6.563697                0.0

        propertyType_Anti-squat  propertyType_Apartment  propertyType_Room  \
 5047                       0.0                     1.0                0.0
 6079                       0.0                     0.0                1.0
 12787                      0.0                     0.0                1.0
 5852                       0.0                     0.0                1.0
 770                        0.0                     0.0                1.0
 ...                        ...                     ...                ...
 451                        0.0                     0.0                1.0
 12281                      0.0                     0.0                1.0
 659                        0.0                     0.0                1.0
 4544                       0.0                     0.0                1.0
 3633                       0.0                     1.0                0.0

        propertyType_Student residence  propertyType_Studio  roommates_1  \
 5047                              0.0                  0.0          0.0
 6079                              0.0                  0.0          0.0
 12787                             0.0                  0.0          1.0
 5852                              0.0                  0.0          0.0
 770                               0.0                  0.0          0.0
 ...                               ...                  ...          ...
 451                               0.0                  0.0          0.0
 12281                             0.0                  0.0          0.0
 659                               0.0                  0.0          0.0
 4544                              0.0                  0.0          1.0
 3633                              0.0                  0.0          0.0

        roommates_2  roommates_3  roommates_4  roommates_5  roommates_6  \
 5047           0.0          0.0          0.0          0.0          0.0
 6079           0.0          0.0          0.0          0.0          0.0
 12787          0.0          0.0          0.0          0.0          0.0
 5852           0.0          1.0          0.0          0.0          0.0
 770            0.0          1.0          0.0          0.0          0.0
 ...            ...          ...          ...          ...          ...
 451            0.0          1.0          0.0          0.0          0.0
 12281          1.0          0.0          0.0          0.0          0.0
 659            1.0          0.0          0.0          0.0          0.0
 4544           0.0          0.0          0.0          0.0          0.0
 3633           0.0          0.0          0.0          0.0          0.0

        roommates_7  roommates_8  roommates_9  shared_1
 5047           0.0          0.0          0.0       0.0
 6079           0.0          0.0          1.0       1.0
 12787          0.0          0.0          0.0       1.0
 5852           0.0          0.0          0.0       1.0
 770            0.0          0.0          0.0       1.0
 ...            ...          ...          ...       ...
 451            0.0          0.0          0.0       1.0
 12281          0.0          0.0          0.0       1.0
 659            0.0          0.0          0.0       1.0
 4544           0.0          0.0          0.0       1.0
 3633           0.0          0.0          0.0       0.0

 [3850 rows x 19 columns],
 10078     610
 207      1250
 8435      745
 9087      835
 9552      430
          ...
 9175     1550
 1251      650
 6357      322
 12188     400
 4274      630
 Name: rent, Length: 8980, dtype: int64,
 5047     1500
 6079      250
 12787     650
 5852      472
 770       279
          ...
 451       372
 12281     215
 659       800
 4544      800
 3633     1200
 Name: rent, Length: 3850, dtype: int64,
 3658,
 Pipeline(memory=None,
          steps=[('dtypes',
                  DataTypes_Auto_infer(categorical_features=[],
                                       display_types=False, features_todrop=[],
                                       ml_usecase='regression',
                                       numerical_features=[], target='rent',
                                       time_features=[])),
                 ('imputer',
                  Simple_Imputer(categorical_strategy='not_available',
                                 numeric_strategy='mean',
                                 target_variable=None)),
                 ('new_levels1',
                  New_Catagorical_Levels_i...
                 ('group', Empty()), ('nonliner', Empty()), ('scaling', Empty()),
                 ('P_transform', Empty()), ('pt_target', Empty()),
                 ('binn', Empty()), ('rem_outliers', Empty()),
                 ('cluster_all', Empty()), ('dummy', Dummify(target='rent')),
                 ('fix_perfect', Remove_100(target='rent')),
                 ('clean_names', Clean_Colum_Names()),
                 ('feature_select', Empty()), ('fix_multi', Empty()),
                 ('dfs', Empty()), ('pca', Empty())],
          verbose=False),
 None,
 [('Regression Setup Config',
                         Description       Value
   0                      session_id        3658
   1               Transform Target        False
   2         Transform Target Method        None
   3                   Original Data  (12830, 8)
   4                 Missing Values        False
   5               Numeric Features            3
   6           Categorical Features            4
   7               Ordinal Features        False
   8      High Cardinality Features        False
   9        High Cardinality Method         None
   10                   Sampled Data  (12830, 8)
   11          Transformed Train Set  (8980, 19)
   12           Transformed Test Set  (3850, 19)
   13               Numeric Imputer         mean
   14           Categorical Imputer     constant
   15                     Normalize        False
   16              Normalize Method         None
   17                Transformation        False
   18         Transformation Method         None
   19                           PCA        False
   20                    PCA Method         None
   21                PCA Components         None
   22           Ignore Low Variance        False
   23           Combine Rare Levels        False
   24          Rare Level Threshold         None
   25               Numeric Binning        False
   26               Remove Outliers        False
   27            Outliers Threshold         None
   28      Remove Multicollinearity        False
   29   Multicollinearity Threshold         None
   30                    Clustering        False
   31          Clustering Iteration         None
   32           Polynomial Features        False
   33             Polynomial Degree         None
   34          Trignometry Features        False
   35          Polynomial Threshold         None
   36                Group Features        False
   37             Feature Selection        False
   38  Features Selection Threshold         None
   39           Feature Interaction        False
   40                 Feature Ratio        False
   41         Interaction Threshold         None),
  ('X_training Set',
          areaSqm   latitude  longitude  furnish_Furnished  \
   10078     32.0  51.917253   4.419375                1.0
   207       75.0  52.361131   4.625652                1.0
   8435      60.0  51.886209   4.477114                0.0
   9087      18.0  52.261948   6.144391                1.0
   9552      14.0  52.309441   4.666529                1.0
   ...        ...        ...        ...                ...
   9175     110.0  51.919858   4.487038                1.0
   1251      18.0  52.441477   4.810903                1.0
   6357      14.0  53.226454   6.561126                1.0
   12188     18.0  53.210099   6.578942                1.0
   4274      20.0  52.373040   4.925139                1.0

          propertyType_Anti-squat  propertyType_Apartment  propertyType_Room  \
   10078                      0.0                     0.0                1.0
   207                        0.0                     1.0                0.0
   8435                       0.0                     1.0                0.0
   9087                       0.0                     0.0                1.0
   9552                       0.0                     0.0                1.0
   ...                        ...                     ...                ...
   9175                       0.0                     1.0                0.0
   1251                       0.0                     0.0                1.0
   6357                       0.0                     0.0                1.0
   12188                      0.0                     0.0                1.0
   4274                       0.0                     0.0                1.0

          propertyType_Student residence  propertyType_Studio  roommates_1  \
   10078                             0.0                  0.0          1.0
   207                               0.0                  0.0          0.0
   8435                              0.0                  0.0          0.0
   9087                              0.0                  0.0          0.0
   9552                              0.0                  0.0          1.0
   ...                               ...                  ...          ...
   9175                              0.0                  0.0          1.0
   1251                              0.0                  0.0          0.0
   6357                              0.0                  0.0          0.0
   12188                             0.0                  0.0          1.0
   4274                              0.0                  0.0          1.0

          roommates_2  roommates_3  roommates_4  roommates_5  roommates_6  \
   10078          0.0          0.0          0.0          0.0          0.0
   207            0.0          0.0          0.0          0.0          0.0
   8435           0.0          0.0          0.0          0.0          0.0
   9087           1.0          0.0          0.0          0.0          0.0
   9552           0.0          0.0          0.0          0.0          0.0
   ...            ...          ...          ...          ...          ...
   9175           0.0          0.0          0.0          0.0          0.0
   1251           1.0          0.0          0.0          0.0          0.0
   6357           0.0          0.0          0.0          0.0          1.0
   12188          0.0          0.0          0.0          0.0          0.0
   4274           0.0          0.0          0.0          0.0          0.0

          roommates_7  roommates_8  roommates_9  shared_1
   10078          0.0          0.0          0.0       1.0
   207            0.0          0.0          0.0       0.0
   8435           0.0          0.0          0.0       0.0
   9087           0.0          0.0          0.0       1.0
   9552           0.0          0.0          0.0       1.0
   ...            ...          ...          ...       ...

In [37]:
rf_new = py.create_model('rf', fold=5)

           MAE         MSE      RMSE      R2   RMSLE    MAPE
0     105.4211  33519.9576  183.0846  0.8317  0.2773  0.4887
1     104.5692  36502.5423  191.0564  0.8212  0.3458  1.2248
2     110.8301  33476.8500  182.9668  0.8424  0.3220  0.9078
3     109.3855  37382.9896  193.3468  0.8101  0.2678  0.3758
4     105.8124  34210.3304  184.9603  0.8266  0.3682  1.2428
Mean  107.2037  35018.5340  187.0830  0.8264  0.3162  0.8480
SD      2.4481   1616.7031    4.3002  0.0107  0.0386  0.3615

In [38]:
rf = finalize_model(rf_new)

In [39]:
label_df = predict_model('dutch_pycaret_rf', data=data)

In [40]:
label_df

,areaSqm,furnish,latitude,longitude,propertyType,roommates,rent,shared,Label
0,14,Unfurnished,51.896601,4.514993,Room,5,500,1,474.5200
1,30,Furnished,52.370200,4.920721,Studio,0,950,0,1052.8667
2,11,Furnished,52.350880,4.854786,Room,1,1000,1,905.5000
3,16,Unfurnished,53.013494,6.561012,Room,4,290,1,305.4433
4,22,Unfurnished,51.932871,4.479732,Room,1,475,1,1300.7800
...,...,...,...,...,...,...,...,...,...
12825,35,Unfurnished,52.368030,5.205308,Room,1,750,1,705.1400
12826,10,Furnished,51.690365,5.311952,Room,1,600,1,498.0000
12827,12,Unfurnished,52.010965,4.336536,Student residence,4,395,1,416.8600
12828,16,Unfurnished,52.008520,4.390628,Room,2,425,1,447.3083
12829,21,Unfurnished,51.906095,4.445226,Room,2,695,1,768.0700

In [41]:
prediction = predict_model('dutch_pycaret_rf', data=data)['Label']

In [43]:
prediction

0         474.5200
1        1052.8667
2         905.5000
3         305.4433
4        1300.7800
           ...
12825     705.1400
12826     498.0000
12827     416.8600
12828     447.3083
12829     768.0700
Name: Label, Length: 12830, dtype: float64